[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
hubspot3 = "*"
pandas = "*"
gspread = "*"
oauth2client = "*"
requests = "*"
jupyter = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
